.holdingContainer{
    width: 100%;

}

.flex{

    display: flex;

}

.items{
    padding: 10px;
}

img{
    width: 200px;
}

.items:hover{
    cursor: pointer;
    transform:  scale(1.1);;
}

.subBtn{
    display: none !important;
}