*{
    padding: 0;
    margin: 0;
}


:root {
    --bg-color: #fff;
    --text-color: #000;
  }
  
  [data-theme="dark"] {
    --bg-color: #3F3F3F;
    --text-color: #fff;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
  }


body{
    background-color: grey;
}



body img{
    width: 275px;
}

a{
    text-decoration: none;
    color: inherit;
}

.items:hover{
    transform: scale(1.1);
}

.btn{
    margin-left: 40% !important;
    text-align: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 10px;
}

h2{
    text-align: center;
}

