*{
    padding: 0;
    margin: 0;
}


:root {
    --bg-color: #fff;
    --text-color: #000;
  }
  
  [data-theme="dark"] {
    --bg-color: #3F3F3F;
    --text-color: #fff;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
  }


/* body{
    background-color: grey;
} */
.theme-light {
    --dark-text: #5E4B56;
    --light-text: #5E4B56;
    --dark-background: #DBE7E4;
    --light-background: #EDDCD2;
    --accent: #DBE7E4;
    --button-border: #5E4B56;
  }

  .theme-dark {
    --dark-text: #292929;
    --light-text: #F9F8F8;  
    --dark-background: #2F4550;
    --light-background: #586F7C;
    --accent: #B8DBD9;
    --button-border: #B8DBD9;
  }


body img{
    width: 275px;
}

html, #root {
    background-color: var(--dark-background);
    color: var(--dark-text);
  }
  
  nav {
    background-color: var(--dark-background);
    color: var(--light-text);
  }
  
  .main-container {
    background-color: var(--light-background);
  }

a{
    text-decoration: none;
    color: inherit;
}

.items:hover{
    transform: scale(1.1);
}

.btn{
    margin-left: 40% !important;
    text-align: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 10px;
}

h2{
    text-align: center;
}

